header{
    display: flex;  
    justify-content: flex-end; /*spinge tutto il contenuto verso la fine*/
    padding: 30px;
    align-items: center;
    background-color: #3A3B3D;
    position: relative;
}

body{
    background-color: #48494B;
    height: 100%;
}

main{
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#textfield-cerca{
    width: 350px;          
    height: 35px;          
    
}

div#ricerca{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;          
    align-items: center;    
    gap: 10px;
}

.search-bar {
    display: flex;          
    align-items: center;    
    gap: 10px;             
}

#zona-utente {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.info-testo-utente {
    display: flex;
    flex-direction: column; 
    text-align: right;      
    font-size: 0.85rem;
    line-height: 1.3;
}


#stato-utente { 
    font-weight: bold; 
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

#nome-utente { 
    color: #fff; 
    font-weight: bold; 
}

.tasto-tondo {
    width: 50px;  
    height: 50px;
    border-radius: 50%;   
    padding: 0;            
    overflow: hidden;      
    cursor: pointer;       
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasto-tondo img {
    width: 100%;           
    height: 100%;
    object-fit: cover;     
}

.tasto-tondo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffcc00;
    color: #ffcc00;
}


#contenitore-film {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.card {
    background-color: #3b444b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    border: 1px solid yellow; 
}


.card-image img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    display: block; 
}


.card-content {
    padding: 15px;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-title {
    font-size: 1rem;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    color: #FFFFFF; 
    transition: color 0.3s ease;
}


.card:hover .card-title {
    color: #FFD700; 
}


.card-info {
    font-size: 0.8rem;
    color: #ccc;
    margin: 0;
}

#homepage{
    position: absolute;
    left: 50px;
    transform: translateX(-50%);

    width: 85px;     
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage img{
    width: 100%;       
    height: 100%;     
    object-fit: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    right: 0;
    background-color: #293133; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 2000;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.dropdown-content a:hover {
    background-color: #444;
    color: #00ff00; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #3A3B3D;
    border-top: 2px solid #5A5B5E;
    padding: 15px;
    text-align: center;
    color: #E0E0E0;
    font-size: 0.9rem;
}